body{
    background-color:#49475B ;
    display: flex;
    flex-direction: column;
    align-self: auto;
    color: #E7E3D4;
}

/*Scrolls*/

::-webkit-scrollbar{
    background-color: black;
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #49475B;
}
  
::-webkit-scrollbar-thumb {
    background: #E7E3D4;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #FFCF56;
}

.filmPlakat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.filmPlakat h2{
    margin: 10px;
}

.add-to-cart-btn{
    width: 200px;
    height: 30px;
}

button{
    background-color: #FFCF56;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: #ddaf3a;
    transition-duration: 200ms;
    box-shadow: rgb(57, 38, 11) 1px 1px 1px;
}

p{
    margin: 5px;
}
